@layer tailwind-base, primeng, tailwind-utilities;

/* PrimeNG Icons */
@import 'primeicons/primeicons.css';

/* Base resets */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, sans-serif;
  font-size: 16px;
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
}

/* Dark mode */
.dark {
  color-scheme: dark;
}
